<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cms的client端</title>
    <link href="/static/libs/bootstrap/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/libs/bootstrap/bootstrap-3.3.7/docs/examples/blog/blog.css" rel="stylesheet">
    <style>
        .graytitle,.mingraytitle{
             background-color :rgba(0,0,0,0.4);
            width: 100%;
            color: white;
            position: absolute;
        }
        .graytitle{
            height:80px;
            line-height:80px;
            top:400px;
        }
        .mingraytitle{
            height:30px;
            line-height:30px;
            position: absolute;
            bottom:-10px;
        }
    </style>
</head>
<body>
{% include 'temp-index/common/header.html' %}
<div class="contain" style="margin-left: 30px;margin-right: 30px">
    <div class="row">
      <div class="col-md-7">
          {#轮播图#}
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <div class="carousel-inner" role="listbox">
            <ol class="carousel-indicators">
                {% for item in newsvaluelist %}
                    <li data-target="#carousel-example-generic" data-slide-to="0"
                        {% if forloop.counter == 1 %}
                            class="active"
                        {% endif %}
                    ></li>
                {% endfor %}
              </ol>
               {% for item in newsvaluelist %}
                    <div class="item
                        {% if forloop.counter == 1 %}
                            active
                        {% endif %}
                        " >
                        {% if item.thumb %}
                            <img src="/static/uploads/{{ item.thumb }}" style="width:100%;height: 480px"/>
                        {% else %}
                            <img src="/static/image/notitle.jpg" style="width:100%;height:480px"/>
                        {% endif %}
                        <p class="text-center graytitle" >{{ item.title }}</p>
                    </div>
               {% endfor %}
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    {#        轮播结束#}
    {#    轮播图右边的三张图片#}
      <div class="col-md-2">
          {% for item in littlenewslist %}
            <div class="row" style="margin-bottom: 14px;position: relative;width: 250px">
                <div>
                    {% if item.thumb %}
                        <img src="/static/uploads/{{ item.thumb }}" alt="" class="img-thumbnail smallimg" style="width: 100%; height: 150px;"/>
                    {% else %}
                         <img src="/static/image/notitle.jpg" alt="" class="img-thumbnail smallimg" style=";width: 100%; height: 150px;"/>
                    {% endif %}
                    <p class="smallshadow text-center mingraytitle" >{{ item.title }}</p>
                </div>
            </div>
          {% endfor %}
      </div>
{#    引入文章推荐部分#}
        {% include "temp-index/common/right.html" %}
        <div class="row">
          <div class="col-xs-9" >
    {#          下半部分左边图片带文字部分#}
            <div>
    {#        ---------------------------------分页开始#}
                {% for item in newsallvalue %}
                    <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 10px;padding-top:20px;width: 96%;" class="article" id="{{ item.id }}">
                        <div class="row articleid">
                          <div class="col-md-3">
                              {%  if item.thumb %}
                                 <img src="/static/uploads/{{ item.thumb }}"class="img-thumbnail" style="width: 250px;height: 150px;margin-bottom: 12px"/>
                              {% else %}
                                  <img src="/static/image/notitle.jpg"class="img-thumbnail" style="width: 250px;height: 150px;margin-bottom: 12px"/>
                              {% endif %}
                          </div>
                          <div class="col-md-9" style="margin-left: -50px">
                              <h3>{{ item.title }}</h3>
                              <h5 style="overflow: hidden;width: 700px;height: 20px">{{ item.content | safe }}</h5>
                              <div style="margin-top: 60px">
                                  <h5 style="display: inline-block;margin-left: 15px">{{ item.lasttime }}</h5>
                                  <h5 style="display: inline-block;margin-left: 15px;color:#8CB8E4">阅读（{{ item.num }}）</h5>
                              </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
    {#        --------------------------需要分页的结束#}
        <nav class="text-center"aria-label="..." style="margin: auto;margin-bottom: 60px">
          <ul class="pagination">
                {% if page != 1 %}
                   <li>
                      <a href="/index?page={{ page|add:-1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                   </li>
                {% endif %}
              {% for index in everypagecountlist %}
                  <li
                      {% if page == index  %}
                          class="active"
                      {% endif %}
                  ><a   href="/index?page={{ index }}">{{ index }}</a></li>
              {% endfor %}
                {% if pageall != 0 %}
                    {% if page != pageall  %}
                      <li>
                          <a href="/index?page={{ page|add:1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                    {% endif  %}
                {% endif %}
                </ul>
              </nav>
            </div>
          </div>
{#            引入右侧的广告位#}
            {% include "temp-index/common/rightad.html" %}
        </div>
    </div>
{#引入脚部#}
{% include 'temp-index/common/footer.html' %}

</div>
</body>
 <script src="/static/libs/jquery-3.4.1.js"></script>
<script src="/static/libs/bootstrap/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/libs/jquery.validate.js"></script>
<script src="/static/libs/jquery.form.js"></script>
<script>
    $(".article").click(function () {
        articleid=$(this).attr("id");
        location.href="/index/detail?id="+articleid
    });
</script>
</html>