
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/bin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: #3c3c3c;
        }
        #leftnav{
            margin-left: 0;
            background-color: #3c3c3c;
        }
        #exampleInputFile{
            width: 150px;
            height: 150px;
            opacity:0;
            position: absolute;
            top:25px;
            z-index: 999;
        }
        .after{
            width: 150px;
            height: 150px;
            position: relative;
        }
    </style>
</head>
<body>
<div class="container-fluid">
{#头部导航#}
    <div class="row">
          <nav class="navbar  navbar-inverse navbar-fixed-top " id="headernav">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">路赞后台管理系统</a>
                </div>
                  {% block username %}
                  <div>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user" style="margin-right: 10px"> </span>欢迎 <span>用户名</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="margin-right: 10px"></span >退出</a></li>
                      </ul>
                  </div>
                  {% endblock %}
                </div><!-- /.navbar-collapse -->
            </nav>
    </div>
{#头部导航结束#}
        <div class="row" style="margin-top:50px" >
            <div class="col-md-2 keynote" id="leftnav">
              <ul class="nav  nav-sidebar " >
                <li><a href="/server"><span class="glyphicon glyphicon-home white" aria-hidden="true">&nbsp;首页</span></a></li>
                <li><a href="/server/menu"><span class="glyphicon glyphicon-th-list white" aria-hidden="true">&nbsp;菜单管理</span></a></li>
                <li><a href="/server/articlelist"><span class="glyphicon glyphicon-book white" aria-hidden="true">&nbsp;文章管理</span></a></li>
                <li><a href="/server/user"><span class="glyphicon glyphicon-user white" aria-hidden="true">&nbsp;用户管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bookmark white" aria-hidden="true">&nbsp;推荐位管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tasks white" aria-hidden="true">&nbsp;推荐位内容管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog white" aria-hidden="true">&nbsp;基本管理</span></a></li>
              </ul>
            </div>
            <div class="col-md-10">
            <div class="row">
        <div class="col-xs-12">
             <ol class="breadcrumb" style="margin: 25px 0 0 30px">
                <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">用户管理</a></li>
                <li>添加用户</li>
            </ol>
        </div>
    </div>
    <div class="row container" style="margin: 35px 0 0 10%">
        <form class="form-horizontal" action="/server/userHandler" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">用户</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="请输入用户名" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码" name="pwd">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputPassword3" placeholder="请输入邮箱" name="email">
                </div>
              </div>
                <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">头像</label>
                <div class="col-sm-10">
                  <input type="file" id="exampleInputFile" name="heading">
                  <img class="after preview" src="/static/uploads/jia.jpg">
                </div>
{#                <img class="preview" width="200px" height="200px" >#}
              </div>
                <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">简介</label>
                <div class="col-sm-10">
                    {{ form.media }}
                    {{ form }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" id="tijiao" data-toggle="modal" >提交</button>
                </div>
              </div>
        </form>
    </div>
            </div>
        </div>
     </div>
{#以下是一个模态框#}
<div class="modal fade" id="myModal"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        增加管理员成功
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="ok">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal1"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        该管理员已存在
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="ok">确定</button>
      </div>
    </div>
  </div>
</div>
</body>
<script src="/static/bin/jq/jquery.js"></script>
<script src="/static/bin/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/libs/jquery.validate.js"></script>
<script src="/static/libs/jquery.form.js"></script>
<script>
    var heardernavheight;
    var windowheight;
    var diffheight;
    var leftnavheight;
    init();
    function init(){
        heardernavheight=$("#headernav").height();
        windowheight=$(document).height();
        diffheight =windowheight-heardernavheight;
        $("#leftnav").height(diffheight);
    }
        var validate=$("form").validate({
            submitHandler:function(form){
                sendDataToServer1()
            },
        });
        function sendDataToServer1() {
            {#alert("999");#}
            $("form").ajaxSubmit(function (message) {
                console.log("后端返回的数据" + message);
                if(message["code"]===0){
                    {#alert(data["msg"]);#}
                    $("#myModal").modal("show");
                    $("#ok").click(function () {
                        location.href="/server/user";
                    });
                    return false
                 }
                else{
                    $("#myModal1").modal("show");
                    $("#ok").click(function () {
                        return false;
                    });
                }
            })
        }
        $("input[name='heading']").change(function(){
            var imgFile=this.files.item(0);
            var _url=window.URL.createObjectURL(imgFile);
            $(".preview").attr("src",_url);
        })
</script>
</html>