{% extends 'temp-server/hearder.html' %}
{% block username %}

{% endblock %}
{% block right %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb" style="margin: 25px 0 0 30px">
                <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">文章管理</a></li>
                <li>文章列表</li>
            </ol>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-2">
          <button class="btn btn-primary" style="margin-left: 30px" id="btn">添加文章</button>
         </div>
        <div class="col-xs-4">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount"></label>
                <div class="input-group">
                  <div class="input-group-addon">栏目</div>
                  <select class="form-control" id="type" name="catid">
                      <option value="-1">全部分类</option>
                      {% for item in menulist %}
                          <option
                                  {% if catId == item.id %}
                                  selected
                                  {% endif %}
                                  value="{{ item.id }}">{{ item.name }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>
         </div>
        <div class="col-xs-4">
           <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">关键字</div>
                  <input type="text" class="form-control" id="exampleInputAmount" name="keytitle" value="{{ keytitle }}">
                  <div class="input-group-addon search">搜索</div>
                </div>
              </div>
           </form>
        </div>
    </div>
<form action="/server/addPosition" id="form" enctype="multipart/form-data" method="post">
{% csrf_token %}
    <div class="row"  style="margin: 25px 0 0 30px">
        <table class="table table-bordered">
          <tr>
              <th>选择</th>
              <th>id</th>
              <th>标题</th>
              <th>栏目</th>
              <th>封面图</th>
              <th>更新时间</th>
              <th>点击量</th>
              <th>操作</th>
          </tr>
            {% for item in articlelist %}
              <tr>
                 <td><input type="checkbox" id="inlineCheckbox1" value="{{ item.id }}" name="newsAd"></td>
                 <td >{{ item.id }}</td>
                 <td><a href="/server/detailcontent?id={{ item.id }}">{{ item.title }}</a></td>
                 <td>{{ item.lanmu }}</td>
                 <td class="heading">
                     {% if item.thumb %}
                        <img  style="width: 50px; height:50px" src="/static/uploads/{{ item.thumb }}" />
                     {% else %}
                        <img  style="width: 50px; height:50px" src="/static/uploads/None.png" />
                     {% endif %}
                 </td>
                 <td>{{ item.lasttime }}</td>
                 <td>{{ item.num }}</td>
                 <td>
                     <div class="btn btn-default glyphicon glyphicon-edit btn-primary edit" index="{{ item.id }}"></div>
                     <div class="btn btn-default glyphicon glyphicon-trash btn-danger trash" index="{{ item.id }}"></div>
                 </td>
              </tr>
          {% endfor %}
        </table>
        <div class="btn-group fenyebutton" id={{ allpages }} style="margin-left: 40%"  role="group" aria-label="First group">
        <nav aria-label="Page navigation">
          <ul class="pagination" id="{{ nowpage }}">
          {% if nowpage != 1 %}
            <li>
              <a href="/server/articlelist?page={{ nowpage |add:-1 }}&catId={{ catId }}&keytitle={{ keytitle }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
              {% for item in allpageList %}
                  <li
                          {% if nowpage == item %}
                          class="active"
                          {% endif %}
                  ><a href="/server/articlelist?page={{ item }}&catId={{ catId }}&keytitle={{ keytitle }}">{{ item }}</a></li>
              {% endfor %}
          {% if nowpage != allpagesCount %}
            <li>
              <a href="/server/articlelist?page={{ nowpage |add:1 }}&catId={{ catId }}&keytitle={{ keytitle }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
          </ul>
        </nav>
{# =============分页布局结束#}
        </div>
    </div>
    <div class="row" style="margin: 25px 0 0 30px">
        <div class="col-xs-3">
            <div class="input-group" style="width: 100%">
                  <select class="form-control"  id="pushposition" name="position">
                      <option value=0>选择推送位</option>
                      {% for item in positionlist %}
                          <option value="{{ item.id }}">{{ item.name }}</option>
                      {% endfor %}
                  </select>
                  <div class="input-group-addon"><button class="glyphicon glyphicon-arrow-up" type="submit">推送</button></div>
            </div>
        </div>
    </div>
</form>
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p id="msg"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="enterbtnbtn">确定</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="returnbtn">取消</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<script src="/static/bin/jq/jquery.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/jquery.validate.js"></script>
<script src="../../static/js/jquery.form.js"></script>
    <script>
        $("#btn").click(function () {
            location.href="/server/addarticle"
        });
        var currentObj={id:"",code:""};
        var menuid;
        var editBtn;
        var deleteBtn;
        init();
        function init() {
            editBtn=$(".edit");
            deleteBtn=$(".delete");
            editBtn.click(edit);
            deleteBtn.click(_delete);
            $(".search").click(searchClick);
            validate();
            $('#myModal').on('hidden.bs.modal', function (e) {
             if (currentObj["code"]==0){
                console.log("成功");
                var _id=currentObj["id"];
                    $("p[index='"+_id+"']").parents("tr").remove()
                }
            })
        }
        function edit(){
            alert("进了编辑");
            menuid=this.getAttribute("index");
            location.href="/server/editarticle?id="+menuid
        }
        function _delete(){
            menuid=this.getAttribute("index");
            currentObj["id"]=menuid;
            $.ajax({
                url:"/server/deletemenu",
                type:"get",
                data:{
                    menuid:menuid
                },
                dataType:"json",
                success:function(data){
                    currentObj["code"]=data["code"];
                    if(currentObj["code"]==0){
                        $('#myModal').modal('show');
                        $("#body").html(data["msg"])
                    }else{
                        $('#myModal').modal('show');
                        $("#body").html(data["msg"])
                    }
                }
            })
        }
        function menuManage(){
        console.log("添加菜单");
        location.href='/server/addmenu'
        }
        {#这个函数用于通过点击搜索获取相应栏目下的文章#}
        function searchClick() {
            var page=$(".pagination").attr("id");
            var catid=$("[name='catid']").val();
            var keytitle=$("[name='keytitle']").val();
            console.log(catid);
            console.log(keytitle);
            location.href="/server/articlelist?catId="+catid+"&keytitle="+keytitle;
        }


     function validate(){
        var validate=$("#form").validate({
            rules:{
            },
            messages:{
            },
             submitHandler:function(form){
                $("#form").ajaxSubmit(function(message){
                    console.log(message);
                     if (message.code === 0) {
                        alert(message.msg);
                        location.href = "/server/articlelist"
                      }else{
                         alert(message.msg);
                     }
                })
             }
        })
    }

    </script>


{% endblock %}