
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/bin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar {
            background-color: #3c3c3c;
        }
        #leftnav{
            margin-left: 0;
            background-color: #3c3c3c;
        }
    </style>
</head>
<body>
<div class="container-fluid">
{#头部导航#}
    <div class="row">
          <nav class="navbar  navbar-inverse navbar-fixed-top " id="headernav">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">路赞后台管理系统</a>
                </div>
                  {% block username %}
                  <div>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user" style="margin-right: 10px"> </span>欢迎 <span>用户名</span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-out" style="margin-right: 10px"></span >退出</a></li>
                      </ul>
                  </div>
                  {% endblock %}
                </div><!-- /.navbar-collapse -->
            </nav>
    </div>
{#头部导航结束#}
        <div class="row" style="margin-top:50px" >
            <div class="col-md-2 keynote" id="leftnav">
              <ul class="nav  nav-sidebar " >
                <li><a href="/server"><span class="glyphicon glyphicon-home white" aria-hidden="true">&nbsp;首页</span></a></li>
                <li><a href="/server/menu"><span class="glyphicon glyphicon-th-list white" aria-hidden="true">&nbsp;菜单管理</span></a></li>
                <li><a href="/server/articlelist"><span class="glyphicon glyphicon-book white" aria-hidden="true">&nbsp;文章管理</span></a></li>
                <li><a href="/server/user"><span class="glyphicon glyphicon-user white" aria-hidden="true">&nbsp;用户管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-bookmark white" aria-hidden="true">&nbsp;推荐位管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-tasks white" aria-hidden="true">&nbsp;推荐位内容管理</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog white" aria-hidden="true">&nbsp;基本管理</span></a></li>
              </ul>
            </div>
            <div class="col-md-10">
            <div class="row">
        <div class="col-xs-12">
             <ol class="breadcrumb" style="margin: 25px 0 0 30px">
                <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">用户管理</a></li>
                <li>添加用户</li>
            </ol>
        </div>
    </div>
    <div class="row container" style="margin: 35px 0 0 10%">
    <form class="form-horizontal" action="/server/edituserHandler" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">用户</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="请输入用户名" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="pwd" placeholder="请输入密码" name="pwd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="请输入邮箱" name="email">
            </div>
          </div>
            <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">头像</label>
            <div class="col-sm-10">
              <input type="file" id="heading" placeholder="选择文件" name="heading">
            </div>
            <img class="preview" width="200px" height="200px" >
          </div>
            <div class="form-group">
            <label for="briefInfo" class="col-sm-2 control-label">简介</label>
            <div class="col-sm-10">
                {{ form.media }}
                {{ form }}
            </div>
          </div>
        <input type="hidden" id="hidden" name="hiddenid">
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">提交</button>
            </div>
          </div>
    </form>
    </div>
            </div>
        </div>
     </div>
</body>
<script src="/static/bin/jq/jquery.js"></script>
<script src="/static/bin/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/libs/jquery.validate.js"></script>
<script src="/static/libs/jquery.form.js"></script>
<script>
    var heardernavheight;
    var windowheight;
    var diffheight;
    var leftnavheight;
    init();
    function init(){
        heardernavheight=$("#headernav").height();
        windowheight=$(document).height();
        diffheight =windowheight-heardernavheight;
        $("#leftnav").height(diffheight);
        var _href=location.href;
        var userid=_href.split("=")[1];
        console.log("userid为",userid);
        $("#hidden").val(userid);

        $.ajax({
                url:"/server/adduseredit",
                type:"get",
                data:{
                    userid:userid
                },
                dataType:"json",
                success:function (data) {
                    alert("ajax成功");
                    console.log(data["data"]["username"]);
                    $("#name").val(data["data"]["username"]);
                    $("#pwd").val(data["data"]["password"]);
                    $("#email").val(data["data"]["email"]);
                    $(".preview").attr("src","/static/uploads/"+data["data"]["heading"]);
                    $("#briefInfo").val(data["data"]["briefInfo"]);
                }
            });
    }
        var validate=$("form").validate({
            submitHandler:function(form){
                sendDataToServer1()
            },
        });
        function sendDataToServer1() {
            $("form").ajaxSubmit(function (message) {
                console.log("后端返回的数据" + message);
                var data=JSON.parse(message);
                if(data["code"]===0){
                    alert(data["msg"]);

                    location.href="/server/user";
                    return false
                 }
            })
        }
        {# $("input[name='heading']").change(function(){#}
        {#    var imgFile=this.files.item(0);#}
        {#    var _url=window.URL.createObjectURL(imgFile);#}
        {#    $(".preview").attr("src",_url);#}
        {# })#}
</script>
</html>