<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="/static/bin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top: 10%">
      <form class="form-signin" method="post" action="/server/loginhttp">
        {%csrf_token%}

        <h2 class="form-signin-heading" style="text-align: center; margin: 40px">登录</h2>

        <label for="inputEmail" class="sr-only">username</label>

        <input  class="form-control" placeholder="username"   id="username" name="username" style="margin-bottom:30px"/>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password" id="password" class="form-control" placeholder="Password"  name="password"  style="margin-bottom:30px"/>
         <label for="inputPassword" class="sr-only">email</label>

        <input type="password" id="password" class="form-control" placeholder="email"  name="email"  style="margin-bottom:30px"/>


        <div class="checkbox">

        </div>

          <!-- Button trigger modal -->
        <button  class="btn btn-lg btn-primary btn-block"  data-target="#myModal" type="submit" id="register">
        登录
        </button>
      </form>

    </div> <!-- /container -->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p id="msg"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn">确定</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
<script src="../../static/js/jquery-3.4.1.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/jquery.validate.js"></script>
<script src="../../static/js/jquery.form.js"></script>
<script>
    var obj;
    var localdata;
    init();
    function init(){
        validate()
    }
    function validate(){
        var validate=$("form").validate({
            rules:{
                username:{
                    required:true,
                },
                password:{
                    required:true,
                },
                email:{
                    required:true,
                }
            },
            messages:{
                username:{
                    required:"用户名不符合要求",
                },
                password:{
                    required:"密码填写不符合要求",
                },
                email:{
                    required:"邮箱填写不符合要求",
                }
            },
             submitHandler:function(form){
                $("form").ajaxSubmit(function(message){
                   var msg=JSON.parse(message);
                    console.log(msg);
                     $("#msg").html(msg.message);
                     $('#myModal').modal('show');
                     $("#btn").click(function(){
                        if(msg.code==="0"){
                            location.href="/server"
                        }
                     });
                })
             }
        })
    }

</script>