{% extends 'temp-server/hearder.html' %}
{% block right %}
      <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb" style="margin: 25px 0 0 30px">
                <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">文章管理</a></li>
                <li>文章列表</li>
            </ol>
        </div>

    </div>
    <div class="row" style="margin-top: 20px">
            <div class="col-xs-2">
              <button class="btn btn-primary" style="margin-left: 30px">添加菜单</button>
         </div>
        <div class="col-xs-3">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount"></label>
                <div class="input-group">
                  <div class="input-group-addon">类型</div>
                  <select class="form-control" >
                      <option>全部菜单</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
                     <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                </div>

              </div>


         </div>
    <div class="row "  style="margin: 25px 0 0 30px;">
        <table class="table table-bordered ">
          <tr >
              <th class="text-center">id</th>
              <th class="text-center">菜单名</th>
              <th class="text-center">模块名</th>
              <th class="text-center">类型</th>
              <th class="text-center">状态</th>
              <th class="text-center">操作</th>
          </tr>
        </table>

    </div>
    </div>
{% endblock %}