{% extends 'temp-server/hearder.html' %}
{% block username %}

{% endblock %}
{% block right %}
  <div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb" style="margin: 25px 0 0 30px">
            <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a>菜单管理</a></li>
            <li>菜单列表</li>
        </ol>
    </div>
  </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-2">
          <button class="btn btn-primary" style="margin-left: 30px;margin-bottom: 50px" onclick="menuManage()">添加菜单</button>
         </div>
        <div class="row "  style="margin: 25px 0 0 30px;">
            <table class="table table-hover">
              <tr>
                  <th class="text-center">id</th>
                  <th class="text-center">菜单名</th>
                  <th class="text-center">操作</th>
              </tr>
                {% for item in menulist %}
                <tr>
                  <th class="text-center menuid">{{ item.id }}</th>
                  <th class="text-center">{{ item.name }}</th>
                  <th class="text-center" >
                      <p class="btn btn-primary edit" index="{{ item.id }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></p>
                      <p class="btn btn-danger delete" index="{{ item.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></p>
                  </th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{#    模态框#}
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除信息</h4>
      </div>
      <div class="modal-body">
        <p id="body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="correct">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <script>
    var currentObj={id:"",code:""};
        var menuid;
        var editBtn;
        var deleteBtn;
        init();
        function init(){
            editBtn=$(".edit");
            deleteBtn=$(".delete");
            editBtn.click(edit);
            deleteBtn.click(_delete);
            $('#myModal').on('hidden.bs.modal', function (e) {
             if (currentObj["code"]==0){
                console.log("成功");
                var _id=currentObj["id"];
                    $("p[index='"+_id+"']").parents("tr").remove()
                }
            })
        }
        function edit(){
            menuid=this.getAttribute("index");
            location.href="/server/editmenu?id="+menuid
        }
        function _delete(){
            menuid=this.getAttribute("index")
            currentObj["id"]=menuid
            $.ajax({
                url:"/server/deletemenu",
                type:"get",
                data:{
                    menuid:menuid
                },
                dataType:"json",
                success:function(data){
                    currentObj["code"]=data["code"];
                    if(currentObj["code"]==0){
                        $('#myModal').modal('show');
                        $("#body").html(data["msg"])
                    }else{
                        $('#myModal').modal('show');
                        $("#body").html(data["msg"])
                    }
                }
            })
            console.log(menuid)
        }
        function menuManage(){
        console.log("添加菜单");
        location.href='/server/addmenu'
        }
</script>
{% endblock %}