{% extends 'temp-server/hearder.html' %}
{% block username %}

{% endblock %}
{% block right %}
   <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb" style="margin: 25px 0 0 30px">
                <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">用户管理</a></li>
                <li>用户列表</li>
            </ol>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
         <div class="col-xs-2">
              <button class="btn btn-primary toadduser" style="margin-left: 30px">添加用户</button>
         </div>
    </div>
    <div class="row"  style="margin: 25px 0 0 30px">
        <table class="table table-bordered">
          <tr>
              <th><input type="checkbox" id="inlineCheckbox1" value="option1"></th>
              <th>id</th>
              <th>用户名</th>
              <th>邮箱</th>
              <th>简介</th>
              <th>头像</th>
              <th>更新时间</th>
              <th>操作</th>
          </tr>
          {% for item in nameList %}
{#              {{ item }}#}
              <tr>
                 <td><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                 <td id="id">{{ item.id }}</td>
                 <td>{{ item.username }}</td>
                 <td>{{ item.email }}</td>
                  <td>
                      {% autoescape off %}
                        {{ item.briefInfo }}
                      {% endautoescape %}
                  </td>

                 <td class="heading text-center" ><img src= "/static/uploads/{{ item.heading }}" style="width:100px;height:100px"/></td>
                 <td>{{ item.lasttime }}</td>
                 <td>
                     <button class="btn btn-default glyphicon glyphicon-edit btn-primary edit" data_name="{{ item.id }}"></button>
                     <button class="btn btn-default glyphicon glyphicon-trash btn-danger trash" idvalue="{{ item.id }}"></button>
                 </td>
              </tr>
          {% endfor %}
        </table>
            </div>
            </div>
        </div>
     </div>

<div class="modal fade" id="myModal"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        删除成功
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="ok">确定</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    var leftnavheight;
    var heardernavheight;
    var windowheight;
    var diffheight;
    init();
    function init(){
        {#alert("888");#}
        heardernavheight=$("#headernav").height();
        windowheight=$(document).height();
        diffheight =windowheight-heardernavheight;
        $("#leftnav").height(diffheight);
    }
    $(".toadduser").click(function () {
        location.href="/server/adduser"
    });
    $(".edit").click(function () {
        idvalue=$(this).attr("data_name");
        alert(idvalue);
        location.href="edituser?id="+idvalue;
    });
    $(".trash").click(function () {
        idvalue=$(this).attr("idvalue");
        alert(idvalue);
        $.ajax({
                url:"/server/deleteuser",
                type:"get",
                data:{
                    idvalue:idvalue
                },
                dataType:"json",
                success:function (data) {
                    $("#myModal").modal("show");
                    $("#ok").click(function () {
                        location.href="/server/user";
                    });
                }
            });
    })
{% endblock %}