<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cms的client端</title>
    <link href="/static/libs/bootstrap/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
{#    <link href="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}
    <link href="/static/libs/bootstrap/bootstrap-3.3.7/docs/examples/blog/blog.css" rel="stylesheet">
    <!--[if lt IE 9]>{#<script src="../../assets/js/ie8-responsive-file-warning.js"></script>#}<![endif]-->
{#    <script src="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>#}

</head>
<body>
{% include 'temp-client/common/header.html' %}
<div class="contain" style="margin-right: 30px">
<div class="row" style="margin-bottom: 100px;margin-left: 50px">
  <div class="col-md-9">
      {#左边图片带文字部分#}
      <div>
            {% for item in arr %}
                <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 10px;padding-top:20px" class="article" id="{{ item.id }}">
                    <div class="row articleid">
                      <div class="col-md-3">
                        {% load static %}
                        <img src="{% static "images/reba2.png" %}" alt="My image" class="img-thumbnail" style="width: 250px;height: 150px;margin-bottom: 12px">
                      </div>
                      <div class="col-md-9" style="margin-left: -50px">
                          <h3>{{ item.title}}</h3>
                          <h5>{{ item.content}}</h5>
                          <div style="margin-top: 60px">
                              <h5 style="display: inline-block;margin-left: 15px">{{ item.lasttime }}</h5>
                              <h5 style="display: inline-block;margin-left: 15px;color:#8CB8E4">阅读（{{ item.num }}）</h5>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
</div>
  </div>

  <div class="col-md-3">
    {#最右边文章排行#}
          <h2 class="text-center">文章排行</h2>
          <h4 class="text-center" style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 20px">TOP ARTICLES</h4>
        <div>
            <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:20px">
                <h4><span class="text-center" style="display:inline-block;background-color: red;width:25px;height:27px;color: white;font-size: 22px">1</span> {{ allnum.0.title }}</h4>
                <p style="margin-left: 30px">{{ bignumcontent.content }}</p>
            </div>
            <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:10px">
                <span  style="display:inline-block;color: red;width:25px;height:27px;font-size: 30px">2</span> {{ allnum.1.title }}
            </div>
            <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:10px">
               <span  style="display:inline-block;color: red;width:25px;height:27px;font-size: 30px">3</span> {{ allnum.2.title }}
            </div>
            <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:10px;margin-bottom:20px">
                <span  style="display:inline-block;color: grey;width:25px;height:27px;font-size: 30px">4</span> {{ allnum.3.title }}
            </div>
            <div>
                <span  style="display:inline-block;color: grey;width:25px;height:27px;font-size: 30px">5</span> {{ allnum.4.title }}
            </div>
        </div>

      <div>
        <div class="row">
        {% load static %}
        <img src="{% static "images/reba1.jpg" %}" alt="My image" class="img-thumbnail" style="width: 350px;height: 250px;margin-bottom: 19px">
        </div>
        <div class="row">
            {% load static %}
            <img src="{% static "images/reba1.jpg" %}" alt="My image" class="img-thumbnail" style="width: 350px;height: 250px;margin-bottom: 19px">
        </div>
        <div class="row">
            {% load static %}
            <img src="{% static "images/reba1.jpg" %}" alt="My image" class="img-thumbnail" style="width: 350px;height: 250px;margin-bottom: 19px">
        </div>
      </div>
  </div>
</div>
</div>
{% include 'temp-client/common/footer.html' %}
</body>
 <script src="/static/libs/jquery-3.4.1.js"></script>
<script src="/static/libs/bootstrap/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/libs/jquery.validate.js"></script>
<script src="/static/libs/jquery.form.js"></script>
<script>

</script>
</html>