<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cms的client端</title>
    <link href="/static/libs/bootstrap/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet">
{#    <link href="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}
    <link href="/static/libs/bootstrap/bootstrap-3.3.7/docs/examples/blog/blog.css" rel="stylesheet">
    <!--[if lt IE 9]>{#<script src="../../assets/js/ie8-responsive-file-warning.js"></script>#}<![endif]-->
{#    <script src="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>#}

</head>
<body>
{#最上面导航条#}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">路赞新闻杂志（图片）</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">体育</a></li>
        <li><a href="#">科技</a></li>
        <li><a href="#">综合</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="contain" style="margin-left: 30px;margin-right: 30px">
<div class="row">
  <div class="col-md-9">
      {#左边文字部分#}
    <h1>这是详情页的文字</h1>
  </div>
  <div class="col-md-3">
    {#最右边文章排行#}
    <h2 class="text-center">文章排行</h2>
    <h4 class="text-center" style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 20px">TOP ARTICLES</h4>
    <div>
        <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:20px">
            <h4>1 要权威还要温度</h4>
            <p>国务院App这样炼成</p>
        </div>
        <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:10px">
            2 要权威还要温度
        </div>
        <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:10px">
            3 要权威还要温度
        </div>
        <div style="border-bottom: #E8E8E8 solid 2px;padding-bottom: 30px;padding-top:10px;margin-bottom:20px">
            4 要权威还要温度
        </div>
        <div  style="margin-bottom: 50px">
            5 要权威还要温度
        </div>
    </div>

      <div>
        <div class="row">
        {% load static %}
        <img src="{% static "images/reba1.jpg" %}" alt="My image" class="img-thumbnail"  style="width: 350px;height: 250px;margin-bottom: 19px">
        </div>
        <div class="row">
            {% load static %}
            <img src="{% static "images/reba1.jpg" %}" alt="My image" class="img-thumbnail"  style="width: 350px;height: 250px;margin-bottom: 19px">
        </div>
        <div class="row">
            {% load static %}
            <img src="{% static "images/reba1.jpg" %}" alt="My image" class="img-thumbnail"  style="width: 350px;height: 250px;margin-bottom: 19px">
        </div>
      </div>
  </div>
</div>
</div>
</body>
 <script src="/static/libs/jquery-3.4.1.js"></script>
<script src="/static/libs/bootstrap/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/static/libs/bootstrap/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/libs/jquery.validate.js"></script>
<script src="/static/libs/jquery.form.js"></script>
<script>

</script>
</html>